page-storedetails {
.name{
    margin: auto;
    width: 50%;
    padding: 10px;
  }
  .swiper-pagination-bullet {
    background: black;
    opacity: 0.5;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
    background: #eb2324;
    /*border:1px solid #fff;
  	border-radius:50%;*/
  }
  .symbol{
    float: right;
    font-size: 1.2em;
  }

  #more-details{
   font-size: 1.2em;
   border-style: hidden;
   text-align: center;
   color:#117dd2;
   /*color:#0086d9;*/
   /*color: blue; */
  }
  ion-card-header{
    text-align:center;
  }
  #productSlide{
    width:100%;
  }

 .delivery{
    font-size: 1.3rem;
    color:#eb2324;
   /* border-style: solid;
    border-width: 1px;
    border-color: #eb2324;*/
  }

  .col {
     padding: 0px !important;  
   }

  .cattext{
    font-size: 1.2rem; 
  }

  .butstyle{
    height:2.5rem;
    width:2.5rem;
    border-radius: 5px;
  }
  .card-header-md {
    font-size: 1.6rem;
    padding: 0px;
  }
  .select{
    max-width:100%;
    text-align:left;
  }

  .icheart{
    font-size: 3rem;
    margin-left:72%;
  }
 /* .iccart{
    padding: 0px 0px 0px 0px;
    margin-left:65%;
  }*/
  .colavatar{
    max-width:20%;
  }
   ion-card {
    display: block;
    overflow: initial;
}
  .back-button.show-back-button {
       display: none
  }
  .header{
      color: #eb2324;
      text-align: center;
      font-size: 1.5rem;
  } 
  .list-header-md {
    padding-left: 16px;
    margin-bottom: 0px !important;
    min-height: 4.5rem;
    }
}
