<ion-header>
  <ion-navbar>
    <p class="header">{{selectedItem.s_name}}</p>
  </ion-navbar>
</ion-header>
<ion-content #content>
  <div *ngIf="selectedItem">
  	<ion-card no-padding>
      <ion-slides *ngIf="sliderImage && sliderImage.length" zoom="true" pager="true" autoplay="2000" loop="true" speed="2000" autoplayDisableOnInteraction = "false">
        <ion-slide *ngFor="let image of sliderImage">
          <img [src]="image.img"/>
        </ion-slide>
      </ion-slides>
     <!--  <ion-row>
        <ion-col>
          <p> {{selectedItem.s_name}}  </p>      
        </ion-col>
        <ion-col col-2 push-1>
          <ion-icon name="md-heart-outline" (click)="addFavStore()" color="primary"> </ion-icon> 
        </ion-col>
      </ion-row>    -->
    </ion-card>

    <ion-card>
       <!-- <ion-card-header><b>Categories</b></ion-card-header>  -->
        <ion-slides slidesPerView="4" spaceBetween="2">
          <ion-slide *ngFor="let item of selectedItem?.category"
          (ionSlideDidChange)="changeSlide()">
            
              <ion-avatar (click)="getProducts(item)" class="catimg">
                <img [src]="item.categoryIcon"/>
              </ion-avatar>
            
            <p class="cattext">{{item.categoryName}}</p>
          </ion-slide>
        </ion-slides>
      </ion-card>
    </div>
    <ion-card>
      <ion-list-header ion-affix [content]="content" class="delivery">
        <ion-row>
          <ion-col text-center>
             Delivery: Tomorrow  |  Free delivery above: Rs 500
          </ion-col>
        </ion-row>
      </ion-list-header>
  	  <p text-center><b>{{catName}}</b></p>
    <ion-list >
      <div *ngFor="let item of items?.products">
        <ion-item style="width:100%" no-padding>
          <ion-row>
            <ion-col class="colavatar" no-padding>
            <ion-avatar item-start>
              <img src="{{item.p_imageUrl}}">
            </ion-avatar></ion-col>
            <ion-col  no-padding>
              <p (click)="gotoProductDetails(item)">{{item.p_name}}</p>
              <ion-item no-lines no-padding >
                <ion-select *ngIf="item.p_measurement">
                  <ion-option *ngFor="let i of item?.p_measurement" value="{{i.unit}}">
                      {{i.unit}} Rs:{{i.sell_price}}
                  </ion-option>
                </ion-select>
                <div *ngIf="!item.p_measurement">
                  <p *ngFor="let i of item?.p_price">Rs. {{i.reg_price}}</p>
                </div>
              </ion-item>
            </ion-col>
            <ion-col no-padding>
              <ion-icon class="icheart" name="md-heart-outline" color="primary" (click)="addToWishlist(item)"></ion-icon>
            
              <div class="iccart" no-padding>
                <button ion-button small outline class="butstyle"
                    [disabled]="item?.p_quantity < 1" (click)="removeFromCart(item)">
                  <ion-icon name="remove"></ion-icon>
                </button>

                <button ion-button small outline class="butstyle" disabled="true"  >{{item.p_quantity}}</button>

                <button ion-button small outline class="butstyle" (click)="addToCart(item)">
                    <ion-icon name="add"></ion-icon>
                </button>
              </div>
            </ion-col>
          </ion-row>
        </ion-item>
      </div>
    </ion-list>
  </ion-card>


<!--*Saajid*-->
  <p id="more-details" (click)="show=!show" > {{show ? 'hide' : 'more'}}</p>

  <div *ngIf="show">
    <ion-card>

       <ion-row>
         <ion-col col-1>
              <ion-icon name="md-pin" ></ion-icon>
         </ion-col>

        <ion-col col-11>
            <p>{{selectedItem.s_address}}</p>
        </ion-col >
       </ion-row>
      
       <ion-row (click)="dialer()">
            <ion-col col-1>
              <ion-icon name="md-call" ></ion-icon>
            <!-- <h3><b>Mob:</b></h3> -->
            </ion-col>

            <ion-col col-5>
            <p>{{selectedItem.s_contact}}</p>
           </ion-col >
       </ion-row>

       <ion-row (click)="showDirection()">
           <ion-col col-1>
              <ion-icon name="md-navigate" ></ion-icon>
           </ion-col>

           <ion-col col-5>
              <p>Navigate Route</p>
           </ion-col >
       </ion-row>
    </ion-card>
  </div>

</ion-content>

