page-profile {
	.logoimg{
		width:50%;
		/*margin-left:25%;*/
/*		img{
			width:50%;
		}*/

		left:0;
		right:0;
		margin: 0 auto;
		top:10%;
	}
	p{
		text-align: left;
	}
	img{
		width: 100%;
	}
}
